Body{
    background-color:rgb(167, 105, 239);
     background-image:url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/202303/images_1558164704380_temperature-sixteen_nine.jpg?VersionId=sxvjJJlnG3QgiNjirHUgl0BNttB.X3OT') ;
    background-size: 100%;
}
main{ 
background-color: rgb(222, 178, 146);
margin: 250px ;
padding-top: 10px;
}

h1{ 
text-align: center;
}

div{
text-align: center;
padding: 17px;
height: 140px;
border:10px solid rgb(249, 249, 54);



}

main{
border: 10px solid black;
}
#data{
height: 35px;
font-size: 14pt;
background-color:rgb(240, 229, 213);
}

#hello{
color:rgb(9, 9, 72);
}
